{% extends 'latest_news/base.html'%}
{% load static %}
  
{% block css %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
  <h1>{{ content }}</h1>
    <div class="container">
        <a class="btn btn-primary" href="{% url 'sender' %}" role="button">Link</a>
        {% for order in orders %}
        <h3>{{ order.title }}</h3>
        <p>{{ order.created_at }}</p>
        <p>{{ order.content }}</p>
            {% if order.file %}
        <span>{{ order.file.url }}</span>
            {% endif %}
    {% comment %}
        {% if order.file %}
        <img src="{{ order.file.url }}" width="300" height="200">
        {% endif %}
    {% endcomment %}
        {% endfor %}
        </div>
{% endblock %}
