{% extends 'latest_news/base.html'%}
{% load static %}
  
{% block css %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
   {% for order in orders %}
<div class="card-upd mt-2">
    <h6 class="card-header text-white bg-secondary">
        {{ order.category.cat_title }}
         |||
        {{ order.number }}
         |||
        {% if order.slug %}
            {{ order.slug }}
        {% else %}
            Featured
        {% endif %}
    </h6>
    <div class="card-body">
        <h5 class="card-title">{{ order.title }} ||| {{ order.created_at }}</h5>
        <p class="card-text p-upd">{{ order.content }}</p>
        <a href="#" class="btn btn-outline-secondary btn-light-upd btn-sm">Go somewhere</a>
    </div>
    {% if order.file %}
    <div class="text-muted card-footer-upd">
        {{ order.file.url }}
    </div>
    {% endif %}
</div>
    {% endfor %}
    {% comment %}
        {% if order.file %}
        <img src="{{ order.file.url }}" width="300" height="200">
        {% endif %}
    {% endcomment %}

{% endblock %}
