{% extends 'latest_news/base.html'%}
{% load static %}
  
{% block css %}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}


{% block item_list %}
<div class="col-md-2">
    <ul class="list-group mb-2">
   {% for category in categories %}
        <a href="/category/{{ category.pk }}" class="list-group-item bg-light list-group-item-action d-flex justify-content-between align-items-center">{{ category.cat_title }}
<!--            <span class="badge bg-dark rounded-pill">{{ category.cat_title|length }}</span>-->
        </a>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block body %}
<div class="col-md-10">
    <table class="table table-striped table-hover">
        <thead class="table-secondary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
   {% for order in orders %}
       <tr>
          <th scope="row">{{ order.number }}</th>
          <td>{{ order.title }}</td>
          <td>{{ order.created_at|date:"d.m.Y _ H:i" }}</td>
          <td>{{ order.category }}</td>
       </tr>
    {% comment for table-view-check %}
        <div class="card-upd mb-2">
        <h6 class="card-header text-white bg-secondary">
            {{ order.category.cat_title }}
             |||
            {{ order.number }}
             |||
            {% if order.slug %}
                {{ order.slug }}
            {% else %}
                Featured
            {% endif %}
        </h6>
        <div class="card-body">
            <h5 class="card-title">{{ order.title }} ||| {{ order.created_at }}</h5>
            <p class="card-text p-upd">{{ order.content }}</p>
            <a href="#" class="btn btn-outline-secondary btn-light-upd btn-sm">Go somewhere</a>
        </div>
        {% if order.file %}
        <div class="text-muted card-footer-upd">
            {{ order.file.url }}
        </div>
        {% endif %}
        {% endcomment %}
    </div>
    {% endfor %}
        </tbody>
    </table>
</div>
    {% comment %}
        {% if order.file %}
        <img src="{{ order.file.url }}" width="300" height="200">
        {% endif %}
    {% endcomment %}

{% endblock %}
