{% extends 'email_sender/base.html'%}
{% load static %}

{% block css %}
  <link href="{% static 'css/sender_style.css' %}" rel="stylesheet">
{% endblock %}

{% block name %}
    {{ sender_content }}
{% endblock %}


{% block body %}

              <div class="container bg-light magic col-md-9">
                <form action="{% url 'sender' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_filed.errors }}
                    <div class="row mt-2">
                        <div class="col-3">
                            <label for="{{ form.number.id_for_label }}" class="form-label mb-0 fw-bold">Номер {{ next }}:</label>
                            {{ form.number }}
                        </div>
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <label for="{{ form.date.id_for_label }}" class="form-label mb-0 fw-bold">Дата:</label>
                            {{ form.date }}
                        </div>
                        <div class="col-3">
                            <label for="{{ form.time.id_for_label }}" class="form-label mb-0 fw-bold">Время:</label>
                            {{ form.time }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.text.id_for_label }}" class="form-label mb-0 mt-1">Текст:</label>
                        {{ form.text }}
                    </div>
                    <div class="mb-1">
                        <label for="{{ form.file.id_for_label }}" class="form-label mb-0">Файл:</label>
                        {{ form.file }}
                    </div>
                    <div class="mb-1">
                        <label for="{{ form.author.id_for_label }}" class="form-label mb-0 fw-bold">Автор:</label>
                        {{ form.author }}
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label mb-0">Адрес рассылки:</label>
                        <div class="input-group">
                            <input type="email" disabled class="form-control" id="exampleFormControlInput1" placeholder="voimg@fingrid.fi">
                            <button class="btn btn-outline-secondary" type="button">Изменить</button>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-secondary" type="submit">Сохранить и отправить</button>
                    </div>

                {% comment %}
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                {% endcomment %}

                </form>
            </div>
{% endblock %}
{% block table %}
          <table class="table table-striped table-hover mt-4">
              <thead class="table-secondary">
                <tr>
                    <th scope="col">Номер</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Время</th>
                    <th scope="col">Текст</th>
                    <th scope="col">Файл</th>
                    <th scope="col">Автор</th>
                </tr>
              </thead>
              <tbody>
                {% for email_itm in email %}
                <tr>
                    <td><a href="{{ email_itm.get_absolute_url }}" target="_blank">{{ email_itm.number }}</a></td>
                    <td>{{ email_itm.date|date:'d.m.y' }}</td>
                    <td>{{ email_itm.time }}</td>
                    <td class="bis">{{ email_itm.text }}</td>
                    <td>
                        {% if email_itm.file %}
                        <a href="/">{{ email_itm.file }}</a>
                        {% endif %}
                    </td>
                    <td>{{ email_itm.author }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

{% endblock %}
