.coloried{
    background: darkslategrey;
}
.card-footer-upd {
    padding: .2rem 1rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    font-size: .9em;
    padding-top: 0;
}

.card-upd {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: .25rem;
}

.navbar-upd {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 0 0 .3rem .3rem;
    border: 1px solid rgba(0,0,0,.5);
}

.p-upd {
    margin-top: 0;
    margin-bottom: .6rem;
}

.btn-light:hover{
    background-color: darkgray;
}

.btn-light-upd {
    border: 1px solid rgba(0,0,0,.125);
}